[Unit]
Description=Redshift display colour temperature adjustment (GUI)
Documentation=http://jonls.dk/redshift/
After=display-manager.service geoclue-agent.service

[Service]
ExecStart=/bin/redshift-qt
Restart=always

[Install]
WantedBy=default.target
