general {
    colors = true
    color_good = "#674523"
    color_bad = "#674523"
    color_degraded = "#000000"
    interval = 10
}

order += "disk /"
order += "disk /home"
order += "tztime local"

run_watch xplan-trunk {
    pidfile = "$XPLAN_BASE/version/99.99.999/sites/trunk/run/server.pid"
    #no_separator = true
}

tztime local {
    format = "%d %b, %H:%M"
}

disk "/" {
    format = "/: %avail"
}

disk "/home" {
    format = "/home: %avail"
}
