# ls helpers
alias ls='LANG=C ls --color'
alias lg='ls --group-directories-first -F'
alias lgd='LANG=C lg -al'
alias ll='lg -l'
alias la='lg -a'
alias lla='ll -a'
alias lst='tree -L 1 -F --dirsfirst --noreport -C -a'

# do not less if output fits one screen
alias less='less -FX'

# who uses vi!
alias vi='vim'

# tmux always with 256 colors
alias tmux='tmux -2'

# config files alias
alias config='/usr/bin/git --git-dir=$HOME/src/config --work-tree=$HOME'

alias ws='cd ~/src'

function note() {
    touch ~/.notes
    dt=`date '+%Y-%m-%d'`
    echo "# $dt $1" >> ~/.notes
}
